<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.supersec.secmanager.db.mapper.BcInsnMultiAnewArrayInsnMapper">

    <resultMap type="xyz.supersec.secmanager.db.entity.BcInsnMultiAnewArrayInsn" id="BcInsnMultiAnewArrayInsnMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="methodUuid" column="method_uuid" jdbcType="VARCHAR"/>
        <result property="opcode" column="opcode" jdbcType="VARCHAR"/>
        <result property="descriptor" column="descriptor" jdbcType="VARCHAR"/>
        <result property="numDimensions" column="num_dimensions" jdbcType="INTEGER"/>
        <result property="insnIndex" column="insn_index" jdbcType="INTEGER"/>
        <result property="sourceLine" column="source_line" jdbcType="INTEGER"/>
        <result property="dataFlag" column="data_flag" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into explore.bc_insn_multi_anew_array_insn(method_uuid, opcode, descriptor, num_dimensions, insn_index,
        source_line, data_flag, remark, update_time, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.methodUuid}, #{entity.opcode}, #{entity.descriptor}, #{entity.numDimensions}, #{entity.insnIndex},
            #{entity.sourceLine}, #{entity.dataFlag}, #{entity.remark}, #{entity.updateTime}, #{entity.createTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into explore.bc_insn_multi_anew_array_insn(method_uuid, opcode, descriptor, num_dimensions, insn_index,
        source_line, data_flag, remark, update_time, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.methodUuid}, #{entity.opcode}, #{entity.descriptor}, #{entity.numDimensions}, #{entity.insnIndex},
            #{entity.sourceLine}, #{entity.dataFlag}, #{entity.remark}, #{entity.updateTime}, #{entity.createTime})
        </foreach>
        on duplicate key update
        method_uuid = values(method_uuid) , opcode = values(opcode) , descriptor = values(descriptor) , num_dimensions =
        values(num_dimensions) , insn_index = values(insn_index) , source_line = values(source_line) , data_flag =
        values(data_flag) , remark = values(remark) , update_time = values(update_time) , create_time =
        values(create_time)
    </insert>

</mapper>
