<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.supersec.secmanager.db.mapper.BcRecordComponentInfoMapper">
   <resultMap type="xyz.supersec.secmanager.db.entity.BcRecordComponentInfo" id="BcRecordComponentInfoMap">
        <result property="index" column="index" jdbcType="VARCHAR"/>
        <result property="recordComponentName" column="record_component_name" jdbcType="VARCHAR"/>
        <result property="recordComponentDescriptor" column="record_component_descriptor" jdbcType="VARCHAR"/>
        <result property="recordComponentSignature" column="record_component_signature" jdbcType="VARCHAR"/>
        <result property="dataFlag" column="data_flag" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="" useGeneratedKeys="true">
        insert into explore.bc_record_component_info(index, record_component_name, record_component_descriptor,
        record_component_signature, data_flag, remark, update_time, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.index}, #{entity.recordComponentName}, #{entity.recordComponentDescriptor},
            #{entity.recordComponentSignature}, #{entity.dataFlag}, #{entity.remark}, #{entity.updateTime},
            #{entity.createTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="" useGeneratedKeys="true">
        insert into explore.bc_record_component_info(index, record_component_name, record_component_descriptor,
        record_component_signature, data_flag, remark, update_time, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.index}, #{entity.recordComponentName}, #{entity.recordComponentDescriptor},
            #{entity.recordComponentSignature}, #{entity.dataFlag}, #{entity.remark}, #{entity.updateTime},
            #{entity.createTime})
        </foreach>
        on duplicate key update
        index = values(index) , record_component_name = values(record_component_name) , record_component_descriptor =
        values(record_component_descriptor) , record_component_signature = values(record_component_signature) ,
        data_flag = values(data_flag) , remark = values(remark) , update_time = values(update_time) , create_time =
        values(create_time)
    </insert>
</mapper>
